.stacked_cards_main{
   height: 70vh; position: relative; max-width: 75vw !important; 
}
.card_top{
    border: 1px solid black; height: 100%; border-radius: 7%; width: 90%;
    background-color: rgb(255, 255, 255); position: absolute; left: 50%; top: 50%;
    transform: translate(-50%,-50%); z-index: 1000; 

    opacity: 1;
    transition: opacity ease 0.2s;
}

.card_middle{
     border: 1px solid black; height: 100%; border-radius: 7%; width: 90%;
    background-color: #f1f9fe; position: absolute;
    left: 50%; top: 50%;transform: translate(-46%,-47%);
    transition: transform 1s ease, color 0.4s ease;
}
/*********************** Cards content ************************/
.title_card{
  border-bottom: 1px solid black;  height: 15%;
  display: flex; justify-content: center; align-items: center;
}
.stacked_cards_main_content{
    height: 70%; padding: 4%; 
}
.arrows_stacked_cards{
    height: 15%; border-top: 1px solid black; position: relative;
    
}
.arrow_left_cards{
  height: 100%;position: absolute; left: 15px;
}
.arrow_right_cards{
height: 100%; position: absolute; right: 15px;
}

.fadout_card{
    opacity: 0 !important;
}
.flipped_middle{
    background-color: aliceblue !important;  transform: translate(-50%,-50%) !important;
}

/******************** TEXT *************************/
.stacked_cards_text{
     background-color: antiquewhite; border-radius: 14px;
}

@media(max-width:992px){.stacked_cards_main{
   max-height: 50vh; position: relative;
}}


/*********************** Text center stacked ****************************/
.text_center_stacked_container{
    min-height: 45vh; display: flex; border: 1px solid rgba(0, 0, 255, 0); position: relative;
}
.text_center_stacked_card_top{
     width: 93%; height: 95%; border: 1px solid black; border-radius: 5px;
    padding: 9%; background-color: aliceblue; z-index: 1000;
    opacity: 100; transition: opacity ease 0.7s; padding-top: 5.5vh;
    display: flex; flex-direction: column; gap: 2vh;

}
.text_center_stacked_card_bot{
     width: 89%; height: 95%; border: 1px solid black; border-radius: 5px;
    padding: 9%; position: absolute; bottom: 0; right: 0; background-color: grey;
}
.text_center_stacked_arrows{
    height: min(12%, 12vw); aspect-ratio: 1/1;
}
.arrows_cont_text_center_stacked{
    display: flex; flex-direction: column; height: 100%; position: absolute; right: 3;
    width: fit-content; border: 1px solid rgba(255, 0, 0, 0);  justify-self: end; justify-content: center;
    gap: 2%; z-index: 10000;
}

.invisible_card {
    opacity: 0;
}

/******************** TEXT TABS ****************************/
.text_tabs_row{

}
.text_tabs_main{
  min-height: 45vh; display: flex; border: 1px solid rgba(0, 0, 255, 0); position: relative;
  border: 1px solid rgba(255, 0, 0, 0); justify-content: flex-end;
  width: 100%;

}
.text_tabs_card_top{
     width: 90%; background-color: aliceblue;  z-index: 1000; height: 97%;
    margin-right: 9%;
   display: flex; flex-direction: column; gap: 2vh;
    border: 1px solid black; border-radius: 5px; padding: 9%;  padding-top: 5.5vh;
}
.text_tabs_card_bot{
    position: absolute; right: 0; bottom:0; background-color: grey; height: 90%; width: 100%;
    display: flex; flex-direction: column; align-items: end; 
     border: 1px solid black; border-radius: 5px; padding-top: 2vh;
    
}
.text_tabs_tabs{
    height: 5vh; width: 11%; border-radius: 6px; transition: height 1s ease;
    display: flex; justify-content: center; align-items: center;
    border: 1px solid black;
}
.text_tabs_big_tab{
    height: 8vh; width: 11%; border-radius: 6px;transition: height 1s ease;
      display: flex; justify-content: center; align-items: center; border: 1px solid black;
}

@media(min-width:1500px){
   .text_tabs_big_tab{
     border-radius: 16px;
} 
.text_tabs_tabs{
    border-radius: 16px;
}
.text_tabs_card_bot{
    border-radius: 15px;
}
.text_tabs_card_top{
    border-radius: 18px;
}
.text_center_stacked_card_top{
 border-radius: 19px;
}
.text_center_stacked_card_bot{
    border-radius: 19px;
}
}