
.round_img_container_big{
max-width: max(40vw, 30vh); left: 0; top: 0;
 border: 3px solid black;  
 transform: translateY(calc(min(-3vh, -3vw) * var(--mosaic-scroll-factor)));
}
.round_img_container_med{
max-width: max(30vw, 20vh) ;
border: 3px solid black; 
 transform: translateY(calc(min(5vh, 5vw) * var(--mosaic-scroll-factor))); bottom: 30%;
 margin-left: max(30vw, 25vh); z-index: 1000;
}


.round_img_container_smaller{
max-width: max(20vw, 10vh); 
transform: translateY(calc(min(-13vh, -13vw) * var(--mosaic-scroll-factor))) ;
 top: 40%; right: 0; z-index: 1000;
}


.round_img_container{
 border: 3px solid black; 
 overflow: hidden; max-width: max(25vw, 15vh);right: 0; margin-right: max(18vh, 18vw);


 transform: translateY(calc(min(2vh, 2vw) * var(--mosaic-scroll-factor)))

}
.even_more_displaced{
 height: 100%; width: 100%;
}
.more_displaced{
 height: 100%; width: 100%; 
}
.slightly_displaced{
 height: 100%; width: 100%;
}
.img_mosaic_row {
  
 

   position: relative; 
  height: max(60vh, 60vw)  

}

