/***************** TAIL BANNER ******************/
.tail_banner{
    background-color: rgb(169, 217, 251); 
    
}
.tail_banner_inner{
display: flex; font-size: larger; gap: max(0.3vw, 1.8vh);
   
}
.tail_img{
   max-height: 6vh; 
}
/***************** Sizes ******************/

.banner_medium{
    display: flex; justify-content: center; align-items: center;
    font-size: larger; 
}
.banner_inner{
    width: 90vw !important;
}
/*************************** SMALLER *************************/

.top_banner_landing{
    background-color: white; display: flex; justify-content: center;
    align-items: center; color: black; font-size: larger; 
}

.top_banner_landing_text{
 border: 1px solid black;
}
.top_banner_landing_image{
  border: 1px solid red; height: 100%;
}

/************************** SCALED ********************************/

.growing_text_content{
    transition: transform 0.65s ease; 
    text-align: center; display: flex;justify-content: center; align-items: center;
   

}
.scaled_banner{
   justify-self: center;
}


/**************** SLIDE IN BANNER *******************/ 
.sliding_banner_row{
    
}
.sliding_banner_main{
    height: 100vh; position: fixed; right: -15vw; background-color: rgb(132, 189, 219);
    width: 15vw; transition: right 2s ease; top: 0; z-index: 100000; display: flex;
    padding: 2%; flex-direction: column; gap: 5%; justify-content: center;
    border: 1px solid black; border-radius: 4px;
}
.slide_visible{
    right: 0 !important;
}
.sliding_banner_text{
    
     
   
}
.img_slide_banner{
   float: right; max-width: 2em;  margin-top: 2vh;
}
@media(max-width:992px){
    .sliding_banner_main{
        height: 20vh !important; bottom: 0; right: -100vw; top: unset;
        width: 100vw;  padding-left: 6%; padding-right: 4%; margin-top: 2vh;
    }
    .slide_visible{
    right:0 !important;
}


}
@media (orientation: portrait) and (min-width: 992px){
        .sliding_banner_main{
        height: 20vh !important; bottom: 0; right: -100vw; top: unset;
        width: 100vw;  padding-left: 7%; padding-right: 4%;
    }
    .slide_visible{
    right:0 !important;
}
}

/***************** SLIDE IN BANNER ROW ********************/
.banner_sliding_inner_right{
    width: 100%; height: 100%; position: relative; right: -100%; background-color: blue;
    transition: right 2s ease;
}
.banner_sliding_inner_left{
    width: 100%; height: 100%; position: relative; left: -100%; background-color: blue;
    transition: left 2s ease;
}
.banner_sliding_active_right{
    right: 0% !important;
}
.banner_sliding_active_left{
  left: 0% !important
}