/***************** TAIL BANNER ******************/
.tail_banner{
    background-color: rgb(169, 217, 251); 
    
}
.tail_banner_inner{
display: flex; font-size: larger; gap: max(0.3vw, 1.8vh);
   
}
.tail_img{
   max-height: 6vh; 
}
/***************** Sizes ******************/

.banner_medium{
    display: flex; justify-content: center; align-items: center;
    font-size: larger; 
}
.banner_inner{
    width: 90vw !important;
}
/*************************** SMALLER *************************/

.top_banner_landing{
    background-color: white; display: flex; justify-content: center;
    align-items: center; color: black; font-size: larger; 
}

.top_banner_landing_text{
 border: 1px solid black;
}
.top_banner_landing_image{
  border: 1px solid red; height: 100%;
}

/************************** SCALED ********************************/

.growing_text_content{
    transition: transform 0.65s ease; 
    text-align: center; display: flex;justify-content: center; align-items: center;
   

}
.scaled_banner{
   justify-self: center;
}


