html, body {
    user-select: none;
}
.txt_lg{
    font-size: max(1.5vw, 2.5vh) !important; 
}
.txt_md{
font-size: max(1.3vw, 2.3vh);
}
.txt_sm{
font-size: max(1.3vw, 2vh);
}
.txt_xs{
    font-size: max(1vw, 1.5vh);
}
.txt_xl{
    font-size: max(2.3vw, 3vh);
}

@media (orientation: portrait) and (min-width: 992px) { 

    .dropdown_text_img_main > [class*="col-lg"] 
    { 
        flex: 0 0 100%; max-width: 100%;   padding: 4% !important;
    } 
    .stacked_cards_row > [class*="col-lg"] 
    { 
        flex: 0 0 100%; max-width: 100%; margin: 3vh; padding: 7% !important; 
    } 
    .stacked_cards_main {
        max-height: 50vh; max-width: 70vw !important; 
    }
    .contact_form_row > [class*="col-lg"] {
         flex: 0 0 93%; max-width: 93%;  
    }
    .text_left_img_right_main > [class*="col-lg"] 
    { 
        flex: 0 0 100%; max-width: 100%;   padding: 4% !important;
    }
    .row_text_centered > [class*="col-lg"]{
        flex: 0 0 90%; max-width: 90%;
    }
    .text_center_stacked_row > [class*="col-lg"]{
         flex: 0 0 90%; max-width: 90%;
    }
    .text_tabs_row > [class*='col-lg']{
        flex: 0 0 90%; max-width: 90%;
    }
    .txt_img_float_row > [class*='col-lg']{
        flex: 0 0 90%
    }


}
@media(min-width: 1600px){
    .row:not([class*='tail_banner']){
        margin-bottom: 2vh !important;
    }
}
@media (orientation: portrait){
    .navbar_main{
       justify-content: end !important; display: flex !important; padding-right: 2.5vw !important;
    }
    .navbar_main_modern{
        justify-content: end !important; display: flex !important;padding-right: 6vw !important;
    }
}
@media (orientation: portrait) and (max-width:992px){
    .navbar_main{
       justify-content: end !important; display: flex !important; 
    }
    .navbar_main_modern{
        justify-content: end !important; display: flex !important;
    }
}