.txt_img_float_main{
    min-height: 40vh; border: 1px solid rgba(0, 0, 0, 0); 
    background-color: rgba(245, 236, 223, 0);
    
}
.txt_img_float{
    max-height: 30vh; width: max(30%, 50vh); max-width: 50%; border: 2px solid black;
    margin-bottom: 1vh; margin-top: 1.1vh;
}