.text_left_img_right_main{
     background-color: rgb(246, 246, 246); 
}

.text_left_img_right_text{
   display: flex; align-items: center; 
}
.text_left_img_right_text_content{
    height: fit-content;padding-left: 2%;
}
.text_left_img_right_image{
    height: 100%;
}