
.big_carousel_image{
     width: 100%; max-height: 72vh; min-height: 33vh;
}

.carousel{
    
}
.carousel_border_text{
    font-size: medium; background-color: rgb(228, 228, 228); min-width: 6em;
}
.big_carousel_main{
 
}
