
.big_carousel_image{
    height: 80vh;
}
.carousel_border{
    background-color: rgb(228, 228, 228); display: flex; justify-content: center;
    
}

.carousel{
   
}
.carousel_border_text{
    width: 80%; font-size: medium;
}
.big_carousel_main{
 background-color: rgb(228, 228, 228); 
}