.top_banner_landing{
    background-color: white; display: flex; justify-content: center;
    align-items: center; color: black; font-size: larger; 
}
.top_banner_landing_text{
    width: fit-content;
}
.second_banner_landing{
     background-color: rgb(246, 246, 246); 
}

.second_banner_landing_text{
   display: flex; align-items: center; 
}
.second_banner_landing_text_content{
    height: fit-content;padding-left: 2%;
}
.second_banner_landing_image{
    height: 100%;
}

.top_banner_landing_text{
 border: 1px solid black;
}
.top_banner_landing_image{
  border: 1px solid red; height: 100%;
}


.tail_banner{
    background-color: rgb(169, 217, 251); 
    
}
.tail_banner_inner{
display: flex; justify-content: center;
    align-items: center; font-size: larger; gap: 2vw; 
   
}
.tail_img{
    max-height: 40px
}
/***************** Banners ******************/

.banner_medium{
    height: 12vh; display: flex; justify-content: center; align-items: center;
    font-size: larger;
}