.navbar_main{
 background-color: rgb(172, 210, 243) !important; 
}
.nav_btn_0{
 min-width: 4.3em !important; background-color: grey; border: 0px; height: 6vh;
 border-radius: 3px;
}
.nav_btn_1{
     min-width: 100vw !important; background-color: rgba(35, 35, 35, 0); border: 0px; height: 7vh;
     
    
}
.company_logo{
    height: 7vh; margin-left: 2vw;
}
.hamburger_menu_icon{
    height:6vh; display: none; margin-right: 5vw; opacity: 0.7;
}
.hamburger_menu_icon_selected{
     opacity: 0.6;
}
.hamburger_menu_initial { height: 0vh; overflow: hidden; transition: height 0.5s ease; }
.hamburger_menu_expanded{
    background-color: rgba(0, 0, 0, 0.642);  padding-top: 1vh;
    display: flex; flex-direction: column; overflow: hidden;
    height: 30vh !important; 
}
@media(max-width:772px){
    .nav_btn_0{display: none;}
    .hamburger_menu_icon{
    display: block;
}
}
