.navbar_main{
 background-color: rgb(172, 210, 243) !important; border: 1.5px solid black;
 padding: 1rem; 
 border-radius: 23px; position: relative;justify-content: center; display: flex;
}
.nav_btn_0{
 min-width: 4.3em !important; background-color: grey; height: 7vh;
 border-radius: 3px;border: 0.5px solid white; max-height: 85%;
 
}
.nav_btn_1{
      background-color: rgba(35, 35, 35, 0); 
     border: 1px solid white; border-radius: 5px;
     height: 7vh; color: black;
     
    
}
.company_logo{
     margin-left: 2vw; max-height: 65%; height: 6vh;
}
.hamburger_menu_icon{
    height:6vh; display: none; margin-right: 5vw; opacity: 0.7;
}
.hamburger_menu_icon_selected{
     opacity: 0.6;
}
.hamburger_menu_initial { height: 0vh; overflow: hidden; transition: height 0.5s ease; }
.hamburger_menu_expanded{
   padding-top: 1vh; 
    display: flex; flex-direction: column; overflow: hidden;
    height: 30vh !important;  width: 92vw;
    justify-self: center;border-bottom: 1px solid black; border-top: 1px solid black;
    margin-top: 1.5vh;
}
@media(max-width:772px){
    .nav_btn_0{display: none;}
    .nav_btn_0_modern{display: none;}
    .hamburger_menu_icon{
    display: block;
}
}

/*********************** MODERN *************************************/

.nav_btn_1_modern{
     min-width: 100vw !important; background-color: rgba(35, 35, 35, 0); 
    border: 0px; 
     height: 7vh; 
}
.nav_btn_0_modern{
     min-width: 4.3em !important; background-color: grey; height: 7vh;
     border: 0px; max-height: 80%;

}
.navbar_main_modern{
  justify-content: center; display: flex; padding: 1rem;
 background-color: rgb(172, 210, 243) !important; 
 
}
.hamburger_menu_expanded_modern{
 
    background-color: rgba(0, 0, 0, 0.642);  padding-top: 1vh;
    display: flex; flex-direction: column; overflow: hidden;
    height: 30vh !important; 

}

/**************** NAVBAR 2***************/
.navbar_2{
   display: flex; align-items: center; justify-content: center;
}
.nav2_logo{
     max-height: 7vh; justify-self: center;
}
  .nav2_text{
     display: flex; justify-content: center; cursor: pointer; z-index: 1000;
  }
  .nav2_ham_icon{
     height: 6.5vh; display: none;  position: absolute; right: 0;
  }
  .nav2_ham_icon_image{
     display: none; 
  }
@media (max-width:450px){
     .nav2_logo{
          position: absolute; align-self: center; left: 5%;
     }
     .nav2_text{
          display: none;
     }
     .nav2_ham_icon{
          display: flex !important; align-items: center; 
     }
     .nav2_ham_icon_image{
            max-height: 6vh; display: flex !important;
     }
}

/******************** CATEGORIES HOVER NAVBAR ***********************/
.navbar_cat_col{
     display: flex; justify-content: center; cursor: pointer;
     justify-self: center; border: 1px solid grey; width: 90%;
    
}
.grid_nav_cat_main_btn{
     display: grid; grid-template-columns: repeat(3, 1fr); justify-self: center;
     row-gap: 2vh; 
}
.navbar_cat_row{
    background-color: rgb(65, 65, 65); color: white; padding-bottom: 4vh; padding-top: 4vh;
    position: relative;
}
.categories_frame_navbar{
     display: none; border: 1px solid black; position: absolute;
     padding-bottom: 2%; padding: 1%; 
     z-index: 10000; border-radius: 4px;
}

.image_grid_nav{
  right:20; bottom:20; position: absolute;
}
.nav_grid_logo{
    max-width: max(5vw, 5vh) ; 
}

.submenu_nav_row{
  height: 0; max-height: 0vh; transition: max-height 0.6s ease; background-color: rgb(255, 255, 255);
}
.submenu_nav_row_expanded{
 height: fit-content; overflow: hidden; max-height: 60vh !important; overflow-y: scroll; 
 border-bottom: 3px solid black; border-top: 3px solid black;
}
.sub_category_expanded{
  
}
.grid_sub_category{
     display: grid; grid-template-columns: repeat(auto-fit, minmax(90px, 33%)); 
     padding-top: 6vh; padding-bottom:6vh; justify-content: center; row-gap: 1.5vh;
     width: 100%;
     
     
     
     
}

.sub_category{
    position: relative; border-bottom: 1px solid black;
    text-decoration: none;   justify-self: center;
    max-height: 4em; color: black; text-align: center; padding-bottom: min(2vh, 3vw);
    display: flex; justify-content: center; align-items: center; 
}
.sub_category:hover{
    background-color: rgba(168, 205, 225, 0.1); cursor: pointer;
}
.image_grid_nav_short{
     bottom: 1vh; right: 5px;
}
.navbar_cat_row_short{
     background-color: rgb(65, 65, 65); color: white; padding-bottom: 8vh; padding-top: 4vh;
    position: relative;
}