.navbar_main{
 background-color: rgb(172, 210, 243) !important; border: 1.5px solid black;
 padding: 1rem; 
 border-radius: 23px; position: relative;justify-content: center; display: flex;
}
.nav_btn_0{
 min-width: 4.3em !important; background-color: grey; height: 7vh;
 border-radius: 3px;border: 0.5px solid white; max-height: 85%;
 
}
.nav_btn_1{
      background-color: rgba(35, 35, 35, 0); 
     border: 1px solid white; border-radius: 5px;
     height: 7vh; color: black;
     
    
}
.company_logo{
     margin-left: 2vw; max-height: 65%; height: 6vh;
}
.hamburger_menu_icon{
    height:6vh; display: none; margin-right: 5vw; opacity: 0.7;
}
.hamburger_menu_icon_selected{
     opacity: 0.6;
}
.hamburger_menu_initial { height: 0vh; overflow: hidden; transition: height 0.5s ease; }
.hamburger_menu_expanded{
   padding-top: 1vh; 
    display: flex; flex-direction: column; overflow: hidden;
    height: 30vh !important;  width: 92vw;
    justify-self: center;border-bottom: 1px solid black; border-top: 1px solid black;
    margin-top: 1.5vh;
}
@media(max-width:772px){
    .nav_btn_0{display: none;}
    .nav_btn_0_modern{display: none;}
    .hamburger_menu_icon{
    display: block;
}
}

/*********************** MODERN *************************************/

.nav_btn_1_modern{
     min-width: 100vw !important; background-color: rgba(35, 35, 35, 0); 
    border: 0px; 
     height: 7vh; 
}
.nav_btn_0_modern{
     min-width: 4.3em !important; background-color: grey; height: 7vh;
     border: 0px; max-height: 80%;

}
.navbar_main_modern{
  justify-content: center; display: flex; padding: 1rem;
 background-color: rgb(172, 210, 243) !important; 
 
}
.hamburger_menu_expanded_modern{
 
    background-color: rgba(0, 0, 0, 0.642);  padding-top: 1vh;
    display: flex; flex-direction: column; overflow: hidden;
    height: 30vh !important; 

}

/**************** NAVBAR 2***************/
.navbar_2{
   display: flex; align-items: center; justify-content: center;
}
.nav2_logo{
     max-height: 7vh; justify-self: center;
}
  .nav2_text{
     display: flex; justify-content: center; cursor: pointer; z-index: 1000;
  }
  .nav2_ham_icon{
     height: 6.5vh; display: none;  position: absolute; right: 0;
  }
  .nav2_ham_icon_image{
     display: none; 
  }
@media (max-width:450px){
     .nav2_logo{
          position: absolute; align-self: center; left: 5%;
     }
     .nav2_text{
          display: none;
     }
     .nav2_ham_icon{
          display: flex !important; align-items: center; 
     }
     .nav2_ham_icon_image{
            max-height: 6vh; display: flex !important;
     }
}

/******************** CATEGORIES HOVER NAVBAR ***********************/
.navbar_cat_col{
     display: flex; justify-content: center; cursor: pointer;
     justify-self: center; border: 1px solid grey; width: 90%;
    
}
.grid_nav_cat_main_btn{
     display: grid; grid-template-columns: repeat(3, 1fr); justify-self: center;
     row-gap: 2vh; 
}
.navbar_cat_row{
    background-color: rgb(65, 65, 65); color: white; padding-bottom: 4vh; padding-top: 4vh;
    position: relative;
}
.categories_frame_navbar{
     display: none; border: 1px solid black; position: absolute;
     padding-bottom: 2%; padding: 1%; 
     z-index: 10000; border-radius: 4px;
}

.image_grid_nav{
  right:20; bottom:20; position: absolute;
}
.nav_grid_logo{
    max-width: max(5vw, 5vh) ; 
}

.submenu_nav_row{
  height: 0; max-height: 0vh; transition: max-height 0.6s ease; background-color: rgb(255, 255, 255);
}
.submenu_nav_row_expanded{
 height: fit-content; overflow: hidden; max-height: 60vh !important; overflow-y: scroll; 
 border-bottom: 3px solid black; border-top: 3px solid black;
}
.sub_category_expanded{
  
}
.grid_sub_category{
     display: grid; grid-template-columns: repeat(auto-fit, minmax(90px, 33%)); 
     padding-top: 6vh; padding-bottom:6vh; justify-content: center; row-gap: 1.5vh;
     width: 100%;
     
     
     
     
}

.sub_category{
    position: relative; border-bottom: 1px solid black;
    text-decoration: none;   justify-self: center;
    max-height: 4em; color: black; text-align: center; padding-bottom: min(2vh, 3vw);
    display: flex; justify-content: center; align-items: center; 
}
.sub_category:hover{
    background-color: rgba(168, 205, 225, 0.1); cursor: pointer;
}
.image_grid_nav_short{
     bottom: 1vh; right: 5px;
}
.navbar_cat_row_short{
     background-color: rgb(65, 65, 65); color: white; padding-bottom: 8vh; padding-top: 4vh;
    position: relative;
}

/**************** SEARCH NAVBAR *************************************/

.navbar_search_row{
 position: relative; 
 background-image: linear-gradient(to left, rgb(209, 242, 255), rgb(83, 121, 192));
 border-bottom: 2px solid rgb(219, 219, 219); 
}
.nav_search_logo{
  max-width: max(7vw, 7.5vh); cursor: pointer;
}
.nav_search_cart_image{
  max-width: max(5vw, 6vh); 
}
.navbar_search_row input[type='search']{
     background-color: rgb(255, 255, 255); border: 1px solid black; border-radius: 8px; 
    
     color: black; padding: 1%;  padding-left: max(1vw, 1vh);padding-right: max(0.5vw, 1vh);
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14'><line x1='1' y1='1' x2='13' y2='13' stroke='black' stroke-width='2'/><line x1='13' y1='1' x2='1' y2='13' stroke='black' stroke-width='2'/></svg>") center/14px 14px no-repeat;
}
.search_results_wrapper{
       background-color: rgb(252, 252, 252); height: 45vh; 
      border: 2px solid black; border-radius: 4px;
     width: 100%; z-index: 1000000;  padding: 1%;
     
}
.single_result{
     border-bottom: 1px solid black;  height: 8vh; display: flex; align-items: center; 
     padding-left: 1%; width: 100%; 
}
.single_result:hover{
     background-color: rgba(11, 145, 248, 0.047); cursor: pointer; display: flex;
}
.img_searchbar{
     margin-left: auto; padding-right: 1vw;
     max-height: 70%; 
}
.btn_below_seach_nav_container{
     display: flex; justify-content: flex-start; width: 100%; gap: 1%;
}
.btn_categories_searchbar_nav{
    color: rgb(255, 255, 255); background-color: rgb(82, 153, 235);
     border: 1px solid black; padding: 1%; border-radius: 4px; margin-left: 0.5% !important; 
     width: fit-content; padding-left: 1.5%; padding-right: 1.5%;
}
.nav_search_cat_row{
     max-height: 0vh;  height: 0; display: none;overflow: hidden;
}
.nav_search_cat_row_expanded{
     max-height: 50vh; display: flex; background-color: aliceblue;
      border-bottom: 2px solid black;
     transition: 0.6s max-height ease;  padding: 2%;overflow-y: scroll; 
     border-top:2px solid black; border-right: 0px;
}
.nav_search_cat_grid{
     grid-template-columns: repeat(3, 1fr); display: grid; padding-top: 1vh;
}
.navbar_search_grid_element_unit{
align-self: center; justify-content: center; display: flex; flex-direction: column; align-items: center;

}
.navbar_search_grid_element{
      justify-self: center;  width: 70%; display: flex; flex-direction: column;
      gap: 1.5vh; align-items: center; text-align: center;
}
.nav_search_cat_title{
     width:100% ; border-bottom:1px solid black; margin-bottom: 1vh; padding-bottom: 1vh;
     text-align: center;
}
.cart_n_items_bubble{
     background-color: red; color: white; position: absolute; right: 4;
     top: 0;  border-radius: 50%; width: max(1.7vw, 2.5vh) ; 
     display: flex; justify-content: center; align-items: center; z-index: 10000;
     aspect-ratio: 1; flex: 0 0 auto;
     
}
