.contact_form_frame{
    border: 1px solid rgb(23, 23, 23);  
     border-radius: 12px; position: relative; 
    background-color: rgb(243, 242, 234); width: 100%;
    
}
.contact_form_frame :is(input, label, select){
margin-top: 2vh; width: 26%; 
}

.contact_form_frame select{
   background-color: rgb(255, 255, 255); color: black;
    border: 1px solid black; border-radius: 2px;  margin-left: 0;
}
.contact_form_frame input{
    background-color: rgb(255, 255, 255); color: black;
    border: 1px solid black; border-radius: 2px; width: 70%; padding-left: 5px;
}
.contact_form_frame textarea{
    width: 70%; margin-top: 2vh; height: 30vh;
    background-color: rgb(255, 255, 255); color: black;
    border: 1px solid black; border-radius: 2px;
}
.contact_form_btn{
    width: 150px !important;
}
.form_sent_msg{
    align-self: center; margin-top: 2vh;
}

